<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- connessione al DB -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rental_car?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Paris</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <!--aggiungi classi che crei ctrl+slash per commentare in automatico-->
        <mapping class="app.entities.User"/>
        <mapping class="app.entities.Auto"/>
        <mapping class="app.entities.Probl"/>
        <mapping class="app.entities.Pren"/>
        <mapping class="app.entities.Codicesc"/>
        <mapping class="app.entities.Ruoli"/>
    </session-factory>
</hibernate-configuration>